@using MinimalAPI.Models;
@model IEnumerable<MinimalAPI.Models.Book>
@{

    ViewData["Title"] = "Books";
}

@if (Model == null)
{
    <h2 style="align-self:center;">Search did not match any book......</h2>
}
else
{
    

<h1> Search Result</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BookId)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseYear)</td>
                <td>
                    <Form method="get" action="ViewStock/@item.BookId">
                        <button type="submit" class="btn btn-success">Check Stock</button>
                    </Form>
                <td>
                    <Form method="post" action="DeleteBook/@item.BookId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </Form>
                <td>
                    <Form method="get" action="UpdateBook/@item.BookId">
                        <button type="submit" class="btn btn-info">Update</button>
                    </Form>

                </td>
                <td>
                    <hr>
                </td>
            </tr>

        }
    </tbody>
</table>
}